<div data-ng-controller="plugin-waterfall2.controllers.stylerController">

    <div class="settings-pane-host">

    	<div class="pane-row">
				<div class="pane-row-title">Calculation</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.diff == 'variance'}" data-ng-click="changeDiff('variance')" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.diff == 'variance'}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Variance</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.diff == 'growth'}" data-ng-click="changeDiff('growth')" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.diff == 'growth'}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">% Change</div>
					 </div>
					 
				</div>
		</div>

        <div class="pane-row">
            <div class="pane-row-title">{{model.offset}} {{model.offsetLevel}} back</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="1"
                                 data-max="24"
                                 data-step="1"
                                 data-value="model.offset"
                                 data-trigger="change"
                                 data-on-release="refreshWidget()"></data-slider>
                </div>
            </div>        
		</div> 

		<div class="pane-row">
				<div class="pane-row-title">Axis Scale</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.yAxisScale == 'linear'}" data-ng-click="changeScale('linear')" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.yAxisScale == 'linear'}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Linear</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.yAxisScale == 'logarithmic'}" data-ng-click="changeScale('logarithmic')" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.yAxisScale == 'logarithmic'}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Logarithmic</div>
					 </div>
					 
				</div>
		</div>

		<div class="pane-row">
				<div class="pane-row-title">Label Color</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.fontColor == 'black'}" data-ng-click="changeFontColor('black')" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.fontColor == 'black'}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Black</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.fontColor == 'white'}" data-ng-click="changeFontColor('white')" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.fontColor == 'white'}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">White</div>
					 </div>
					 
				</div>
		</div>
        
		<div class="pane-row">
				<div class="pane-row-title">Data Label Location</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.inside == true}" data-ng-click="changeLabelLocation(true)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.inside == true}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Inside Bars</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.inside == false}" data-ng-click="changeLabelLocation(false)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.inside == false}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Above Bars</div>
					 </div>
					 
				</div>
		</div>
		
	</div>
</div>